name: check composite action

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  GH_TOKEN: ${{ github.token }}

jobs:
  check:
    strategy:
      matrix:
        os: [
          ubuntu-latest,
          ubuntu-24.04,
          ubuntu-22.04,
          ubuntu-24.04-arm,
          ubuntu-22.04-arm
        ]
        version: [
          latest,
          v0.6.0,
          v0.5.0
        ]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v6
    - name: "setup ecrm"
      uses: fujiwara/ecrm@main
      with:
        version: ${{ matrix.version }}
    - name: "check ecrm version"
      run: |
        ecrm version

