name: Go
on: [push, pull_request]
jobs:
  test:
    strategy:
      matrix:
        go:
          - '1.24'
          - '1.25'
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6
        with:
          go-version: ${{ matrix.go }}
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - name: Build & Test
        run: |
          go test -race ./...
        env:
          GO111MODULE: on
