name: Go
on: [push, pull_request]
jobs:
  test:
    strategy:
      matrix:
        go:
          - '1.24'
          - '1.25'
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Set up Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6
        with:
          go-version: ${{ matrix.go }}
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v5

      - name: Build & Test
        run: |
          go test -race ./...
        env:
          GO111MODULE: on
